@page
@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>Error 404 - Not Found</h1>
    <p>Server did not find represantation of target resource.</p>
</body>
</html>