@page
@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>Internal Server Error</h1>
    <p>An unexpected error occurred on the server. Please try again later.</p>

</body>
</html>