@page
@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>Error 400 - Bad Request</h1>
    <p>Server cannot proccess request due to client error.</p>
</body>
</html>