@page
@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>Error 401 - Unauthorized</h1>
    <p>Access to the requested resource is unauthorized.</p>
</body>
</html>